@import "../_variables.scss"; 
@import "../breakpoints.scss"; 

* { 
    font-family: 'Roboto', sans-serif;
    margin: 0; 
    padding:0 ; 
    
}

body { 
    min-width: 420px; 
}

html { 
    scroll-behavior: smooth; 
}


/******* header *********/
.header { 
    @include header(); 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    a { 
        display: flex;
        position: absolute; 
        left: 0;
        margin-left: 20px;  
        font-size: 20px;
        color: black; 
        text-decoration: none;
        &:hover {
            cursor:pointer; 
        } 
    }

}

.heroimage { 
    width:100%; 
    z-index: 1; 
    position: relative;
}

/******* menu *********/

.menu { 
    background-color: #f6f6f6;
    z-index: 2; 
    border-radius: 40px 40px 0 0 ; 
    position: relative;
    height: 100%; 
    margin-top: -70px; 

    .restaurant-name { 
        display: flex;
        justify-content: space-between;
        padding: 35px 20px 20px 20px;
        align-items: center;
    }

    .title { 
        font-family: 'Shrikhand', serif; 
        font-size: 28px; 
    }

    .heart-stack { 
        font-size: 25px;
        width: 35px;

        .full-heart { 
            @include fullHeart(); 
        }
    }
}

/******* menu selection *********/
.course { 
    padding: 0 20px 40px 20px; 

    .course-title { 
        font-weight: 300;
        border-bottom: 3px solid #99E2D0;  
        padding-bottom: 5px; 
        width: 40px; 
        font-size: 16px; 
    }
    .menu-card { 
        margin-top: 10px; 
        background-color: #FFFFFF;
        border-radius: 15px;
        box-shadow:  0 5px 10px rgb(219, 219, 219);  
        display: flex;
        justify-content: space-between;
        position: relative; 
        cursor: pointer;
        overflow: hidden; 
        
        .menu-txt { 
            z-index: 2;  
            padding: 15px; 
            flex-grow: 1;
            text-overflow: ellipsis;
            .food-title {
                font-weight: 500; 
                font-size: 18px; 
                
            }
            .food-subtitle { 
                font-weight: 300;
                font-size: 15px; 
                margin-top: 5px; 
            }
        }
        .food-price {
            z-index: 2;  
            display: flex;
            padding: 15px;
            .price { 
                font-weight: 700;
                font-size: 15px;
                color: #353535; 
                align-self: flex-end; 
            }
        }

        .tick-container { 
            display: flex;  
            align-items: center;
            justify-content: center;
            color: white; 
            background-color: #99E2D0; 
            width: 10%; 
            font-size: 20px; 
            font-weight: 700; 
            margin-right: -10%; 
            transition: 200ms ease-in;
        }

    }

    .menu-card:hover > .tick-container,
    .menu-card:active > .tick-container { 
        display: flex; 
        margin-right: 0; 
    }


}


/******* button *********/
.order-btn{ 
   @include flexCenter(); 
    

   .button { 
        @include gradientBtn(); 
        margin-bottom: 50px; 
    }
}

/******* Footer *********/
footer {
    @include footer() 
}

