@media (min-width: 1200px) {

    /******* Home page *********/
    .how-it-works {
        display: flex;
        flex-direction:column;
        align-items: center;
        
        .instruction-box-container {
            display: flex; 
            align-items: center;

            .instruction-box { 
                width: 400px;  
                padding-right: 30px ; 
            }

        }
    }

    .restaurants { 
        display: flex;
        flex-direction: column;
        align-items: center; 

        .restaurants-card-container  {
            display: flex;
            flex-wrap: wrap; 
            justify-content: space-between; 
            margin: 0 auto;
            max-width: 1290px; 
            gap:20px; 
        }

        .restaurant-card {
            width: 48%;   
        }

    }

     /******* footer*********/

     .footer { 
        display: flex; 
        padding: 80px 80px 20px; 
        flex-direction: row-reverse;

        .footer-text-container { 
            display: flex;
            margin-right: 60px; 
        }

        .footer-text { 
            margin-right: 50px; 
        }

        .footer-link { 
            font-size: 15px;
        }
     }

    
}

