/******* Animations *********/
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes loading-fade {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes header-slide-down {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes menu-slide-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes card-slide-up {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  z-index: 3;
  animation: loading-fade 1s ease 1s forwards;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #FF79DA;
  border-top-color: #9356DC;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

.header-slide-down {
  animation: header-slide-down 1s ease-in;
  z-index: 1;
}

.menu-slide-up {
  animation: menu-slide-up 1s ease-in;
  z-index: 3;
}

.menu-card {
  animation: card-slide-up 2s ease-in-out forwards;
}

.bounce {
  animation: card-slide-up 2s ease-in-out forwards;
  animation-delay: 1s;
}

.bounce-1 {
  animation: card-slide-up 1s ease-in forwards;
  animation-delay: 1s;
}

.bounce-2 {
  animation: card-slide-up 1.5s ease-in forwards;
  animation-delay: 1s;
}

.bounce-3 {
  animation: card-slide-up 2s ease-in forwards;
  animation-delay: 1s;
}

/******* Features and Elements *********/
@media screen and (min-device-width: 768px) {
  .heroimage {
    height: 30vh;
    object-fit: cover;
    object-position: center;
  }
}
@media screen and (min-device-width: 1200px) {
  /******* Home page *********/
  .how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .how-it-works .instruction-box-container {
    display: flex;
    align-items: center;
  }
  .how-it-works .instruction-box-container .instruction-box {
    width: 400px;
    padding-right: 30px;
  }
  .restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .restaurants .restaurants-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1290px;
    gap: 20px;
  }
  .restaurants .restaurant-card {
    width: 48%;
  }
  /******* menu pages *********/
  .heroimage {
    height: 35vh;
    object-fit: cover;
    object-position: center;
  }
  .menu-container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .menu-container .menu {
    width: 70%;
    max-width: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-container .course-container {
    width: 70%;
  }
  .menu-container .title {
    margin-right: 80px;
  }
  /******* footer *********/
  .footer {
    display: flex;
    padding: 80px 80px 20px;
    flex-direction: row-reverse;
  }
  .footer .footer-text-container {
    display: flex;
    margin-right: 60px;
  }
  .footer .footer-text {
    margin-right: 50px;
  }
  .footer .footer-link {
    font-size: 15px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 420px;
  font-family: "Roboto", sans-serif;
}

/******* header *********/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
  height: 75px;
  box-shadow: 0 4px 4px rgb(219, 219, 219);
  height: 10vh;
  z-index: 2;
}
.header .logo {
  height: 35%;
}

/******* searchbar *********/
.searchbar {
  background-color: #EAEAEA;
  height: 60px;
  justify-content: center;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar input {
  background-color: #EAEAEA;
  border: none;
  outline: none;
  padding-left: 15px;
  max-width: 200px;
  height: 40%;
  font-size: 20px;
  font-weight: bold;
  color: #353535;
  padding-left: 20px;
}
.searchbar ::placeholder {
  color: #b4b4b4;
}
.searchbar .fa-location-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

/******* Book the meal you want *********/
.bookmeal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 65px 20px;
  background: #F6F6F6;
}
.bookmeal .subtitle {
  font-weight: 300;
  font-size: 25px;
  text-align: center;
  margin-bottom: 45px;
}
.bookmeal .explore-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 60px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  color: #FFFFFF;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0 5px 10px rgb(151, 151, 151);
  transition-property: transform;
  transition-duration: 400ms;
  text-decoration: none;
  color: white;
}
.bookmeal .explore-btn:hover {
  transition: all 500ms;
  box-shadow: 0 5px 10px rgb(99, 99, 99);
  opacity: 80%;
}
.bookmeal .title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 45px;
  color: black;
  text-align: center;
}

/******* How it works *********/
.how-it-works {
  padding: 60px 40px;
  background-color: white;
}
.how-it-works .title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 45px;
  color: black;
}
.how-it-works .instruction {
  background: #F6F6F6;
  display: flex;
  position: relative;
  height: 90px;
  width: 100%;
  align-items: center;
  border-radius: 25px;
  padding-left: 50px;
  z-index: 1;
  box-shadow: 0 5px 10px rgb(219, 219, 219);
}
.how-it-works .instruction .fa-solid {
  font-size: 25px;
  color: #7E7E7E;
}
.how-it-works .instruction .fa-shop {
  color: #9356DC;
}
.how-it-works .instruction .text {
  padding-left: 30px;
  font-weight: bold;
  color: black;
  font-size: 20px;
}
.how-it-works .instruction-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  position: relative;
  right: 10px;
}
.how-it-works .instruction-box .number {
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 35px;
  width: 35px;
  aspect-ratio: 1;
  border-radius: 50%;
  font-weight: bold;
  color: white;
  z-index: 2;
  position: relative;
  left: 15px;
}

/******* Restaurants *********/
.restaurants {
  background-color: #F6F6F6;
  padding: 60px 40px;
}
.restaurants .title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 45px;
  color: black;
}
.restaurants .restaurant-card {
  border-radius: 15px;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px rgb(219, 219, 219);
  position: relative;
}
.restaurants .restaurant-card:hover {
  box-shadow: 0 5px 10px rgb(99, 99, 99);
  transform: scale(1.05);
  transition-property: transform;
  transition-duration: 400ms;
}
.restaurants .restaurant-card .new-label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #008766;
  font-weight: 550;
  box-shadow: 0 2px 10px rgb(110, 110, 110);
  font-size: 20px;
  border-radius: 2px;
  background-color: #99E2D0;
  position: absolute;
  right: 10px;
  top: 10px;
  margin: 10px 10px;
  padding: 10px;
  width: 80px;
}
.restaurants .restaurant-card a {
  text-decoration: none;
  color: black;
}
.restaurants .restaurant-card img {
  width: 100%;
}
.restaurants .restaurant-card .img-container {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.restaurants .restaurant-card .restaurant-text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
}
.restaurants .restaurant-card .restaurant-text-container .restaurant-text .subtitle {
  font-weight: 300;
  font-size: 18px;
  color: black;
}
.restaurants .restaurant-card .restaurant-text-container .heart-stack {
  font-size: 25px;
  width: 35px;
}
.restaurants .restaurant-card .restaurant-text-container .heart-stack .full-heart {
  color: transparent;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  opacity: 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.15s;
}
.restaurants .restaurant-card .restaurant-text-container .heart-stack .full-heart:hover {
  opacity: 100%;
  cursor: pointer;
}
.restaurants .restaurant-card .restaurant-text-container .heart-stack .full-heart:active {
  opacity: 100%;
}

/******* Footer *********/
footer {
  background-color: #353535;
  padding: 25px;
}
footer img {
  width: 120px;
  margin-bottom: 20px;
  color: white;
  filter: invert(100%);
}
footer .footer-text {
  display: flex;
  margin-bottom: 10px;
  text-align: center;
}
footer .footer-text .fa-solid {
  color: white;
  padding-right: 8px;
}
footer .footer-link {
  margin-bottom: 10px;
  font-size: 18px;
}
footer a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
footer a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=styles.css.map */