@import "../_variables.scss"; 
@import "../breakpoints.scss";


*{
    font-family: 'Roboto', sans-serif;
    margin: 0; 
    padding: 0; 
}

body { 
    min-width: 420px; 
   
}


/******* header *********/

.header { 
    @include header(); 
    box-shadow: 0 4px 4px rgb(219, 219, 219); 
    z-index: 2; 

}

/******* searchbar *********/
.searchbar { 
    background-color:#EAEAEA; 
    height: 60px;
    justify-content: center;
    z-index:1;
    @include flexCenter(); 
    input {
        background-color: #EAEAEA;
        border: none;
        outline: none;
        padding-left: 15px;
        max-width: 200px; 
        height: 40%;
        font-size: 20px;
        font-weight: bold;
        color: #353535; 
        padding-left: 20px; 
    }
    ::placeholder {
        color: #b4b4b4;  
    }

    .fa-location-dot { 
        @include flexCenter(); 
        font-size: 25px;   
    }
}


/******* Book the meal you want *********/

.bookmeal {
    @include flexCenter(); 
    flex-direction: column;
    padding: 65px 20px; 
    background: #F6F6F6;

    .subtitle { 
        font-weight: 300;
        font-size: 25px; 
        text-align: center;
        margin-bottom: 45px; 
    }

    button { 
        @include gradientBtn(); 
    }

    .title { 
        @include homePageTitle(); 
        text-align: center;
    }
}

/******* How it works *********/
.how-it-works { 
    padding: 60px 40px; 
    background-color: white;
    

    .title { 
        @include homePageTitle(); 
    }
    
    .instruction { 
        @include instructionBox();
    }

    .instruction-box { 
        @include flexCenter(); 
        margin-bottom: 25px; 
        position: relative;
        right: 10px; 
        
    
        .number { 
            @include instructionNumber(); 
            position: relative;
            left: 15px; 
        }
    }

   

}


/******* Restaurants *********/
.restaurants { 
    background-color: #F6F6F6;
    padding: 60px 40px; 

    .title { 
        @include homePageTitle(); 
    }
    
    .restaurant-card { 
       @include restaurantCard(); 
       position: relative;
      
    
       .new-label { 
            @include flexCenter(); 
            @include newRestaurantLabel(); 
        }

        a { 
            text-decoration: none;
        }
    }
    .restaurant-text-container { 
        display: flex;
        align-items: center;
        justify-content: space-between;

        .fa-heart { 
            padding-right: 50px; 
            color: black; 
            @include heart() 
        }
    }
}

/******* Footer *********/
footer {
    @include footer() 
}
